.imgbottom .btn .effect04{
  position: absolute;
  top: 63%;
  left: 63%;
  transform: translate(-50%, -0%);
  font-size: 200%;
  color: white;
}


#copy{
opacity: 50½;
color: white;
font-family: 'Itim', cursive;
bottom: 0px;
}
.centered {
  position: absolute;
  top: 63%;
  left: 63%;
  transform: translate(-50%, -0%);
  font-size: 200%;
  color: white;
  
  }

.main .container .game{

padding-top: 1%;
width: 216px;
height: 216px;
padding-left: 5px;
 
}

.game:hover {

  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
  

}


.header{
            font-family: 'Itim', cursive;
            text-align: center;
            font-size: 500%;
            padding-top: 5%;
            color: white;
            
        }
.center {
             display: block;
             margin-left: auto;
             margin-right: auto;
             padding-top: 0%;
             
        }
.description{
            text-align: center;
            font-family: 'Itim', cursive;
            font-size: 150%;
            color: white;
            opacity: 90%;
        }
.material-icons{
            padding-left: 45%;
            padding-right: 65%;
            color: white;
            
        }
.main {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
   
  margin: 0 auto;
/*   padding: 2em 0em; */             

    
}
.mail {
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 1em;
  opacity: 70%;
  font-family: 'Itim', cursive;
  
  
}

p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
  
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-family: 'Itim', cursive;
 width: 500%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: rgb(255, 255, 255);
  outline: solid  2px rgb(255, 255, 255);
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

/* 文字1を上に */
.effect04:hover{

  background-color: rgb(255, 255, 255);
}

/* HOVERしたら文字1を上に */
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

/*文字2*/
.effect04::before{
  content: attr(data-sm-link-text);
	color: rgb(24, 24, 24);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}
